:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --background-context-color: #f5f4fa;
  --rare-text-color: #ffffff;
}
/* Задали основной цвет, шрифт */
body {
  font-family: Roboto;
  color: var(--primary-text-color);
  background-color: var(--rare-text-color);
}
/* Убрали точки со ссылок */
.list {
  list-style: none;
}
/* Добавили стили навигации в Хеадер*/
.contact-link {
  color: var(--primary-text-color);
}
.current,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* Добавили стили контактов в Хеадер */
.adress-link {
  color: var(--secondary-text-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
/* Добавили стили ссылок в Футер */
.link-bottom {
  color: rgba(255, 255, 255, 0.6);
}
.link-bottom:hover,
.link-bottom:focus {
  color: var(--rare-text-color);
}
/* Оформили стили текста и заголовков */
.section-title .title {
  color: var(--primary-text-color);
}

/* Оформили стили списка кнопок в Портфолио*/
.style-scope-button {
  color: var(--primary-text-color);
  background-color: var(--background-context-color);
  border-color: transparent;
}
.style-scope-button:hover,
.style-scope-button:focus {
  color: var(--rare-text-color);
  background-color: var(--accent-color);
}
/* Оформили стиль кнопки в Студия */
.button-primary {
  color: var(--rare-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
